*{
	font-family: 'Source Sans Pro', sans-serif;
}

h1{
	margin-left: 10px;
	color: #3a4359;
	font-weight: 900;
}

p{
	margin-left: 50px;
	margin-right: 100px;
	font-weight: 400;
}

a{
	text-decoration: none;
}

a:link{
	color:#3a4359;
	}
a:visited{
	color:#6a7d95;
}
a:hover{
	color:#6a7d95;
}
a:active{
	color: #609a9f;
}