@font-face {
    font-family: 'Cabin';
    src: url('Cabin-Regular.ttf');
 }

*{
	font-family: Cabin;
}

body{
	text-align: center;

}

a{
	text-decoration: none;	
}

a:link{
	color:#476C91;
	}
a:visited{
	color:#6a7d95;
}
a:hover{
	color:#6a7d95;
}
a:active{
	color: #609a9f;
}

.headline{
	text-align: center;
	font-weight: 700;
}

.header{
	text-align: center;
	font-weight: 600;
	color: #B3B4B4;
}

.bio, .resume{
	padding-left: 40px;
	padding-right: 40px;
	text-align: left;
}

.biohead{
	margin-left: 10px;
	color: #3a4359;
	font-weight: 600;

}

.biopara{
	margin-left: 50px;
	margin-right: 100px;
	font-weight: 400;
}

.networks{
	text-align: center;
	margin: 0px 8px -15px 8px;
	display: inline-block;
}

.subjects {
	font-size: 36px;
	margin-left: 85px;
	margin-bottom: -7px;
	text-align: left;
	color: #3a4359;
}

.jobs{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: -5px;
	margin-left: 95px;
}

.dates{
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	margin-left: 115px;
	margin-bottom: -5px;
}

.restext{
	font-size: 16px;
	margin-left: 115px;
	margin-right: 100px;
	font-weight: 400;
}

@media (max-width: 568px) {
 	.bio, .resume, {
 		padding: 0;
 		margin: 0;
 	}

 	.biohead, .subjects, .jobs{
 		margin-left: 0;
 		margin-right: 0;
 	}

 	.biopara, .dates, .restext{
 		margin-left: 10px;
 		margin-right: 0;
 	}
}