*{
	font-family: 'Lato', sans-serif;
}

h1{
	font-size: 72px;
	font-weight: 900;
	text-align: center;
}

h2{
	text-align: center;
	margin: -30px 15px 10px 15px;
}

a{
	display: inline-block;
}

h3 {
	font-size: 36px;
	margin-left: 85px;
	font-weight: 700;

}

h4{
	font-size: 20px;
	margin-left: 95px;
	font-weight: 700;

}

h5{
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	margin-left: 115px;
}

p, ul{
	font-size: 16px;
	margin-left: 115px;
	margin-right: 100px;
	font-weight: 400;
}
