*{
	font-family: Futura;
}

h1{
	font-size: 72px;
	font-style: bold;
	text-align: center;
}

h2{
	text-align: center;
	border
}

div{
	display: inline-block;
	margin: -30px 10px 10px 10px;

}



h3 {
	margin-left: 50px;
	font-style: bold;

}

p{
	margin-left: 75px;
}