*{
	font-family: Gill Sans;
}

h1{
	font-size: 72px;
	font-style: bold;
	text-align: center;
}

h2{
	text-align: center;
}

div{
	display: inline-block;
	margin: -30px 10px 10px 10px;
}



h3 {
	font-size: 36px;
	margin-left: 50px;
	font-weight: bold;

}

h4{
	font-size 24px;
	margin-left: 70px;

}

h5{
	font-style: italic;
	margin-left: 85px;
}
p{
	font-size: 16px;
	margin-left: 100px;
}